<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <style>
    #login{
      text-align: center;
    }

    #login input{
      width: 75%;
      height: 45px;
      border-radius: 45px;
      font-size: 30px;
    }

    #login div{
      margin-bottom: 3px;
    }
  </style>

  <%= form_tag '/login', :id=>'login' do %>
    <fieldset>
      <legend>Please Log In</legend>

      <div>
        <%= text_field_tag :name, params[:name], :placeholder=>"email" %>
      </div>

      <div>
        <%= password_field_tag :password, params[:password], :placeholder=>"password" %>
      </div>
  
      <div>
        <%= submit_tag "Login"%>
      </div>
    </fieldset>
  <% end %>
</div>
